header {
	text-align: center;
	font-family: Times New Roman, Arial;
	background-color: #DDA0DD;
}
nav {
	text-align: center;
	font-family: Times New Roman;
	font-size: ;
	color: #ffffff;
	background-color: #aeaca8;
	height: 30px;
}
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px
}
nav li {
	display: inline;
	margin-right: 40px;
}
nav li a {
	color: #ffffff;
}
.submenu {
	position: absolute;
	visibility: hidden;
	display: auto;
}
.topmenu li:hover .submenu {
	visibility: visible;
}
#wrapper {
	text-align: center;
	background-color: #FFB6C1;
}
body {
	background-color: pink;
	font-size: 100%;
	width: ;
	min-width: ;
	font-family: Georgia, Times, Arial, serif;
	font-size: 100%;
	padding: 20px 200px;
}
footer {
	text-align: center;
	font-family: Times New Roman;
	font-size: ;
	background-color: #DDA0DD;
	position: ;
	width: 100%;
}
h1 {
	text-align: center;
	color: blue;
}
h3 {
	text-align: center;
}
.name {
	float: right;
	padding-right: 80px;
	padding-top: 80px;
}
.contact {
	float: right;
	padding-right: 50px;
	padding-top: 80px;
}
article {
	text-align: justify;
	background-color: #FFB6C1;
}
.rounded {
	counter-reset: li;
	list-style: none;
	font: 14px "Trebuchet MS", "Lucida Sans";
	padding: 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
.rounded a {
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	margin: .5em 0;
	background: #DAD2CA;
	color: #444;
	text-decoration: none;
	border-radius: .3em;
	transition: .3s ease-out;
}
.rounded a:hover {
	background: #E9E4E0;
}
.rounded a:hover:before {
	transform: rotate(360deg);
}
.rounded a:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #8FD4C1;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid white;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
}
figure img {
	float: center;
}
figcaption {
	float: right;
	padding-top: 80px;
	padding-right: 50px;
}
.right {
	text-align: right;
	margin-right: 100px;
	margin-top: 0px;
}
.left {
	text-align: left;
	margin-left: 100px;
	margin-top: 50px;
}